<!DOCTYPE html>
<html>
<head>
  <title>IshBlog</title>
  <%= stylesheet_link_tag    "ish_blog/application", media: "all" %>
  <%= javascript_include_tag "ish_blog/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
